{% load compress %}
{% load static %}

<head>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="header">
        {% comment %} <div class="navbutton"> X </div> {% endcomment %}
        <div></div>
        <div class="logo"><a class="nostyle logoelem" href="/"><h1>.Blog</h1></a></div>    

        <div class="links">
            <a href="{% url 'blog:home' %}" class="nostyle"><div class="hoverable element"><p>Home</p></div></a>
            <a href="{% url 'blog:articles' %}" class="nostyle"><div class="hoverable element"><p>Articles</p></div></a>
            <a href="{% url 'blog:find' %}" class="nostyle"><div class="element hoverable"><p>Find me</p></div></a>
            {% comment %} <a href="https://88potatoes.github.io/" class="nostyle"><div class="element">old</div></a>    {% endcomment %}
        </div>
    </div>
    {% comment %} <div class="sidebar">
        <a href="{% url 'blog:home' %}" class="nostyle"><div class="element">Home</div></a>
        <a href="{% url 'blog:articles' %}" class="nostyle"><div class="element">Articles</div></a>
        <a href="{% url 'blog:find' %}" class="nostyle"><div class="element">Find me</div></a>
        <a href="https://88potatoes.github.io/" class="nostyle"><div class="element">old</div></a>
    </div> {% endcomment %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="footer"></div>
    
</body>