{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1 class="index">Articles</h1>
</div>
<div class="article_container">
    {% for article in articles %}
        <a class="nostyle" href="{% url 'blog:article' article.id %}">
            <div class="article">
                <div></div>
                <div class="middle-text"><h3>{{ article.title }}</h3></div>
                <div class="high-text"><p>{{ article.date }}</p></div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content%}